body{
    background-image: url(../images/login.png) ;
    
}

#session{
    position: relative;
    left: 145px;
}

img{
    width: 50%;
}


#anuncios{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    
}


.anuncio-item{
    width: 20%;
    background-color: #0a223f;
    border: 1px solid rgb(239, 237, 237);
    margin: 10px;
    padding: 20px;
    color: white;
    border-radius: 10px;
}

h1{
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 15px ;
    font-size: 60px;
}

a{
    text-decoration: none;
    color: white;
    
    padding: 6px;
}

li{
    position: relative;
    right: 25px;
}

ul{
    list-style: none;
}

#countAnuncios{
    position: relative;
    left: 150px;
    color: white;
}

button{
    color: white;
    background-color: rgb(10, 58, 97);
    border: 2px solid rgb(118 118 118);;
    border-radius: 10px;
    padding: 7px;
    
}

